html, body {
	box-sizing: border-box;
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	background-image: url("/images/bg-dice.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #371B3E;
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: 'Staatliches', cursive, sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

a.btn-primary,
.btn-primary {
	background-color: #371B3E;
	border: 1px solid #CF4AD9;
	border-radius: 0;
	box-shadow: 0px 0px 0px 5px #371B3E;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	outline: none;
	padding: .5rem 2rem;
}

a.btn-primary:hover,
.btn-primary:hover {
	background-color: #CF4AD9;
	color: #371B3E;
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

.input-center {
	border-color: #CDB4CF;
	color: #9B3DB2;
	font-size: 1.4rem;
	margin-top: .5rem;
	max-width: 330px;
	text-align: center;
	width: 100%;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* SCREEN STYLES */

.content-center {
	align-items: center;
	background-color: #ffffff;
	border: 1px solid #CDB4CF;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.35);
	display: flex;
	flex-direction: column;
	outline: 6px solid #ffffff;
	padding: 2rem;
	margin: 2rem auto;
	max-width: 500px;
	width: 100%;
}

.row-flex {
	align-items: center;
	display: flex;
}

.column-flex {
	align-items: center;
	display: flex;
	flex-direction: column;
}

/* SIDEBAR STYLES */

#foreground {
	box-sizing: border-box;
	left: 1rem;
	position: absolute;
	top: 0;
	z-index: 1000;
}

.sidebar-content {
	background-color: #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.35);
	display: flex;
	flex-direction: column;
	max-width: 230px;
	padding: .5rem;
	width: 100%;    
}

.sidebar-item {
	align-items: center;
	border: 1px solid #CDB4CF;
	display: flex;
	flex-direction: column;
	padding: .5rem;
	margin: .3rem 0;
}